#campusViewDiv,
#viewDiv {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#viewDiv {
  margin-left: 340px;
  border-top: 1px solid var(--calcite-ui-border-3);
}

#campusViewDiv {
  pointer-events: none;
  height: 200px;
}

.campus-image-container {
  width: 100%;
  margin-bottom: 0.75rem;
  background-color: var(--calcite-ui-background);
  text-align: center;
  height: 200px;
}

.campus-image-container img {
  height: 200px;
  max-width: 100%;
}

#primary-panel {
  --calcite-panel-max-width: 340px;
  --calcite-panel-min-width: 340px;
  --calcite-shell-panel-max-width: 340px;
  --calcite-shell-panel-min-width: 340px;
}

calcite-slider {
  max-width: 96%;
}

calcite-card {
  margin-bottom: 0.75rem;
  cursor: pointer;
  text-align: start;
}

body {
  --calcite-ui-brand: purple;
  --calcite-ui-brand-hover: rgb(94, 0, 94);
  --calcite-ui-brand-press: rgb(87, 0, 87);
}

body.calcite-theme-dark {
  --calcite-ui-brand: rgb(125, 0, 209);
  --calcite-ui-brand-hover: rgb(121, 0, 205);
  --calcite-ui-brand-press: rgb(141, 0, 225);
}

calcite-label span {
  font-weight: 500;
  text-align: end;
  max-width: 60%;
}

.item-button {
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  width: 100%;
  background: transparent;
}

.temporary-header {
  padding: 0.75rem;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: var(--calcite-ui-brand);
  background-color: var(--calcite-ui-background);
  justify-content: space-between;
}

.calcite-theme-dark .temporary-header {
  color: var(--calcite-ui-text-1);
  --calcite-ui-icon-color: var(--calcite-ui-text-1);
}

calcite-action-pad {
  margin-inline-start: auto;
}
.temporary-header calcite-icon {
  margin-inline-end: 1rem;
}

/* styling for detail chips */
calcite-block calcite-chip {
  margin-inline-end: 0.5rem;
  margin-block-start: 0.5rem;
}

calcite-block calcite-notice {
  margin-block-end: 1rem;
}
/* styling for chip select */
#programType calcite-chip {
  margin-inline-end: 0.5rem;
  margin-block-start: 0.5rem;
  cursor: pointer;
  box-shadow: 0 0 0 2px transparent 0 0 0 4px transparent;
  transition: box-shadow 0.15s ease-in-out;
  --calcite-ui-info: var(--calcite-ui-brand);
}

#programType calcite-chip:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--calcite-ui-foreground-1),
    0 0 0 4px var(--calcite-ui-brand);
}
